{% extends 'core/nav.html' %}
{% block  content %}
<div class="container">
  <h1 class="page-header">The Gangs All Here!</h1>
  <p>The Baltimore Vocal Jazz Ensemble is a mixed voice a capella jazz company comprised of talented men and women from all backgrounds who like to sing and share their enjoyment of music with one another.  Voices range from soprano to bass and the ensemble is organized primarily into five voice parts and then rearranges itself into up to nine parts as the arrangements dictate.</p>   
  <p>Membership into the performing ensemble is by audition.  Sight reading is not required but preferred.  Scores of the arrangements as well as mp3 audio voice parts are available on line for download and home study once the audition process is successfully completed.  Ensemble members are compensated  for their participation at performances.</p>
  <p>If your current choir/band isn't giving you the musical “satisfaction” you originally anticipated, or you would simply like to augment your current vocal avocation and pioneer a new group singing fascinating arrangements with vocal percussion, give us a call.  Contact information is located under the "Contact" tab.</p>
</div>
{% endblock  %}