{% extends 'core/nav.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="container">
    <div class="page-header">
    <h1>Hire us!</h1>
      <p>The BVJE accepts bookings up to <strong>one year</strong> in advance, and the number of performers is flexible and can vary according to your needs.</p>  
      <p>Pricing varies depending on <em>concert length</em>, <em>travel</em>, etc.  Actual concert fees would be determined after discussion of concert parameters.</p>
      <p>For further information or to inquire about booking an engagement with the BVJE, please fill out the form below or contact <strong>Diane Paul</strong>  by e-mail at <a href="mailto://dpaul522@gmail.com&subject=BVJE+inquiry">dpaul522@gmail.com</a></p>
    </div>
    <div class="page-header">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% endblock content %}