{% extends 'core/nav.html' %}
{% block content %}
<div class="container"> 
  <img class="img-fluid" src="{{ url_for('static', filename='bvje.JPG') }}" width="100%">
  <div class="jumbotron jumbotron-fluid">
      <p><strong>The Baltimore Vocal Jazz Ensemble</strong> is a unique group of vocalists dedicated to providing a capella entertainment in an eclectic variety of styes in a wide range of venues.  Under the direction of <em>Joe Mannherz</em>, members travel from all over the <em>mid-Atlantic</em> region to sing ballads and swing from the 40's to contemporary jazz and pop of the present. From  <em>Basie and Cole</em> to the <em>Beatles and Billy Joel</em>, the ensemble has entertained audiences at Longwood Gardens in Pa. to the State House in Annapolis; from private birthday parties and weddings to <em>Bill Gates</em> at the Willard Hotel in Washington, DC.</p>    
  </div>
  
  <div class="row">
    <div class="col-sm-5">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Discover</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">  
          <li class="list-group-item">What makes us tick</li>  
          <li class="list-group-item">Who we are and why we entertain</li>
          <li class="list-group-item">Where we're going to perform next and where we've sung in the past</li>
          <li class="list-group-item">How to <a href="{{ url_for('signup') }}">be part of the group</a> (if you like to sing)</li> 
          <li class="list-group-item">or just <a href="{{ url_for('shop') }}">purchase</a> one of several CD's recorded by the ensemble.</li>
        </ul>
      </div>
    </div>
           
        
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <p class="alert alert-warning" role="alert">A list of our current <a href=" {{ url_for('repertoire') }} ">repertoire</a> is available as well as an extensive photo gallery and video/audio page.</p>
    </div>
  </div>

  <div class="alert alert-info" role="alert">
   <p class="text-center"> Come and <a href=" {{ url_for('signup') }} ">join us</a> at one of our weekly practices in the Baltimore area. Map and directions are available under <a href=" {{ url_for('contact') }} ">Contacts</a>.</p>
  </div>

</div>
{% endblock content %}